/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.slide-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
    overflow-y: auto;
}

.slide-content.open {
    height: auto;
    max-height: 400px;
    /* Adjust the height as needed */
}